@import url('https://fonts.googleapis.com/css2?family=Ttinterphrace&display=swap');

:root {
    --primary-color: #5566B8;
    --main-bg-color: #080101;
    --overlay-opacity: 0.2;
    --nav-bg-color: #11113a;
    --text-color: #fff;
    --accent-color: #831cd2;
    --button-bg-color: black;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: var(--nav-bg-color);
    color: white;
}

.job-listing {
    display: flex;
    align-items: flex-start;
}

.job-imagem {
    display: flex;
}

.isso-deuTrabalho {
    width: 850px;
    height: 450px;
    margin: 1rem 1rem 4rem 8rem;
}

.job-content {
    margin: 3rem;
}

.job-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.job-details {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.detail {
    display: flex;
    align-items: center;
    font-size: 16px;
    margin-right: 20px;
}

.detail i {
    color: #831cd2;
    margin-right: 9px;
}

.job-description {
    font-size: 16px;
    margin-bottom: 10px;
}

.requisitos {
    font-size: 19.5;
}

.container {
    display: flex;
    align-items: center;
}

.readMore {
    text-decoration: none;
    margin-right: 10px;
}

button {
    background-color: black;
    color: white;
    border: 2px solid white;
    border-radius: 20px;
    padding: 10px 20px;
    margin-left: 28rem;
    cursor: pointer;
}

.section-container {
    text-align: center;
    margin: 20px;
}

.job-listin {
    border: 2px solid #5566B8;
    margin: 25px;
    border-radius: 10px 10px 0 0;
    width: 320px;
    height: 360px;
    display: inline-block;
}

.image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    position: relative;
    height: 200px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h2 {
    padding: 0.5rem;
    font-size: 19px;
    margin: 19px 0;
    text-indent: -19px;
}

p {
    font-size: 13.5px;
}

.nomeEmpressa {
    text-align: center;
}

i.fas {
    color: #E8AFF6;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 14px;
    text-align: center;
    background-color: var(--primary-color);
    color: white;
    padding: 20px 0;
}

.social-icons {
    list-style: none;
    padding: 0;
    margin: 0;
}

i {
    font-size: 24px;
}

.social-icons li {
    display: inline;
    margin-right: 10px;
}

.social-icons a {
    color: white;
    text-decoration: none;
}

.social-icons a:hover {
    text-decoration: underline;
}